.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 1200px;
  width: 1200px; */
}

.titleModal {
  margin: 0;
}

.playerTurn {
  text-align: center;
}

.trophy {
  margin: 0;
  padding: 25px 0;
  text-align: center;
  font-size: 5rem;
}
